.cproject
.project
.settings

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

!doc/Makefile

*.o
*.so
*.a
gmon.out

# OSX
.DS_Store


# NetBeans project files
nbproject

# Output Files
src/mapcrafter
src/mapcrafter_export
src/mapcrafter_markers
src/mapcraftercore/version.cpp
src/mapcraftercore/config.h
test/html
test/textures
test/world
test/mapcrafter.log
src/tools/assets
src/tools/nbtdump
src/tools/tex
src/tools/testtextures
src/tools/mapcraftertest
src/tools/testconfig
src/data/textures
